<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">ABOUT</div>
            <ul>
            <p class="paragraph-text justify-text">
                <li>To engage in a research work, where I can efficiently utilize the exceptional skills and abilities in enhancing the benefits in the Research area. Maintaining laboratory tools and preparing reports on experiments. Participating in scientific research and meetings.</li> 
            </p>
            <p class="paragraph-text justify-text">
                <li>I like working with computers. It's my hobby. I love the Internet and the way it works, and I am comfortable working on Python and R Programming Language.  Linux and Windows Operating system. I have a keen interest in Bioinformatics and Big Data Analysis.</li>
            </p>
            <p class="paragraph-text justify-text">
                <li>Experienced Microbiologist with proven experience improving scientific community by performing accurate research while complying with laboratory safety protocol and standards. Outstanding data management and report development skills contributing to research funding efforts.</li> 
            </p>
            <p class="paragraph-text justify-text">
                <li>Demonstrated success in compiling and interpreting bioinformatics information by leveraging software, statistics, and data mining. 
                Effective at maintaining current understanding of field trends, technological advances, and new computational techniques.
                Have a knowledge in Transcriptomic analysis, microarray data analysis, Gene expression analysis, R statistical analysis.</li> 
            </p>
            <p class="paragraph-text justify-text">
                <li>Developing, testing, and debugging Python scripts.
                Linux commands.
                R programming basics</li> 
            </p>
            <p class="paragraph-text justify-text">
                <li>I maintain a little blog at <a href="{{ site.blog_url }}">https://shrihith93.blogspot.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">Shrihith</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.</li>
            </p>
            </ul>
            <div class="section-heading">EDUCATION</div>
            <p class="paragraph-text justify-text">
               <l1>PG Diploma: Bioinformatics andBig Data Analysis2019 - 2020: CGPA 8.91 Siddaganga Institute of Technology, Tumakuru </l1>
            </p>
            <p class="paragraph-text justify-text">
                <l1>Master of Science: Microbiology 2015 - 2017: CGPA 7.52 Bangalore University - Jnana Bharati Campus, Bengaluru.</l1>
            </p>
            <p class="paragraph-text justify-text">
                <l1>Bachelor of Science: Biochemistry, Botany, Microbiology 2011 - 2014 : FIRST 65% Government Science College, Bengaluru.</l1>
            </p>
        </div>
    </section>
</div>
