<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects & Recognitions</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="Workshops" class="semi-transparent-button with-border white-button" onclick="selected('Workshops')">Workshops</a>
                    <a id="Course" class="semi-transparent-button with-border white-button" onclick="selected('Course')">Course</a>
                    <a id="Bootcamp" class="semi-transparent-button with-border white-button" onclick="Bootcamp')">Bootcamp</a>
                    <a id="Excellence" class="semi-transparent-button with-border white-button" onclick="selected('Excellence')">Excellence</a>
                    <a id="Projects" class="semi-transparent-button with-border white-button" onclick="selected('Projects')">Projects</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>