
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Experience & Key Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h1 class="center-align skills-subsection" style="border:white; border-width:1px; border-style:solid;"><b>Professional Experience</b></h1>
                    <p3 class="paragraph-text center-align">
                        <p>Mylan Laboratories Limited, Hosur, Tamil Nadu</p>
                        <p>Quality Control Microbiologist 2017 to 2019:  2year 2months</p>
                    </p3>
                    <p5 class="paragraph-text center-align">
                        <li> Conducted basic and applied research on Environmental monitoring and water testing.A sterile formulation facility holds a modular manufacturing system for injectables and is certified with USFDA.</li>
                    </p5>
                    <h1 class="center-align skills-subsection"style="border:white; border-width:1px; border-style:solid;"><b>Bioinformatics Skills</b></h1>
                    <ul>
                    <li class="paragraph-text center-align">
                        Next generation sequencing
                    </li>
                    <li class="paragraph-text center-align">
                        Transcriptomic Analysis
                    </li>
                    <li class="paragraph-text center-align">
                        Drug Discovery
                    </li>
                    <li class="paragraph-text center-align">
                        Micro array data analysis
                    </li>
                    <li class="paragraph-text center-align">
                       Proteomic Analysis
                    </li>
                    </ul>
                </div>
                <div class="Software-skills">
                    <h3 class="center-align skills-subsection"style="border:white; border-width:1px; border-style:solid;">Software-Skills</h3>
                <li class="paragraph-text center-align">
                    •	Programming Languages: Python, R, HTML5, Unix
                    •	Data Analysis: NumPy, Pandas, R for statistical Analysis
                    •	Data Visualization: matplotlib
                    •	GUI: Python - Tkinter, Turtle 
                    •	Frameworks: Django, WordPress
                    •	System: Windows, Linux (Ubuntu)
                    •	Code versioning tools: Git
                    •	Microsoft: Excel, PPT, Word, Publisher, Teams
                    •	Project Management: Team viewer
                    •	Web Scraping: Python
                </li>
                <li class="paragraph-text center-align">
                    Drug Discovery
                </li>
                <li class="paragraph-text center-align">
                    Micro array data analysis
                </li>
                <li class="paragraph-text center-align">
                   Proteomic Analysis
                </li>
                </ul>
                    <h1 class="center-align skills-subsection"style="border:white; border-width:1px; border-style:solid;">Microbiology Skills</h1>
                        <p class="paragraph-text center-align">
                            Water Testing
                        </p>
                        <p class="paragraph-text center-align">
                            Environmental Monitoring
                        </p>
                        <p class="paragraph-text center-align">
                            Culture Handling and Bioburden
                        </p>
                        <p class="paragraph-text center-align">
                            Standard Operating Procedure
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>