
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Experience & Key Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h1 class="center-align skills-subsection" style="border:white; border-width:2px; border-style:solid;"><b>Professional Experience</b></h1>
                    <p3 class="paragraph-text center-align">
                        <p>Mylan Laboratories Limited, Hosur, Tamil Nadu</p>
                        <p>Quality Control Microbiologist 2017 to 2019:  2year 2months</p>
                    </p3>
                    <p5 class="paragraph-text center-align">
                        <li> Conducted basic and applied research on Environmental monitoring and water testing.A sterile formulation facility holds a modular manufacturing system for injectables and is certified with USFDA.</li>
                    </p5>
                </div>
                <div class="Software-skills">
                    <h3 class="center-align skills-subsection"style="border:white; border-width:2px; border-style:solid;">SOFTWARE-SKILLS</h3>
                    <li class="paragraph-text center-align">
                    <p>  •	Programming Languages: Python, R, HTML5, Unix</p>
                    <p>  •	Data Analysis: NumPy, Pandas, R for statistical Analysis</p>
                    <p>  •	Data Visualization: matplotlib</p>
                    <p>  •	GUI: Python - Tkinter, Turtle</p>
                    <p>  •	Frameworks: Django, WordPress</p>
                    <p>  •	System: Windows, Linux (Ubuntu)</p>
                    <p>  •	Code versioning tools: Git</p>
                    <p>  •	Microsoft: Excel, PPT, Word, Publisher, Teams</p>
                    <p>  •	Project Management: Team viewer</p>
                    <p>  •	Web Scraping: Python</p>
                    </li>
                </div>
                <div class="Bioinformatics-skills">
                <h1 class="center-align skills-subsection"style="border:white; border-width:2px; border-style:solid;"><b>BIOINFORMATICS-SKILLS</b></h1>
                    <li class="paragraph-text center-align">
                    <p>  •	Next-generation sequencing</p>
                    <p>  •	Transcriptomic analysis</p>
                    <p>  •	Proteomics analysis</p>
                    <p>  •	Drug discovery</p>
                    <p>  •	Microarray data analysis</p>
                    <p>  •	Big data Analysis</p>
                    <p>  •	Plant Bioinformatics</p>
                    <p>  •	Python and R for biologists</p>
                    </li>
                </div>
                <div class="Microbiology-skills">
                <h1 class="center-align skills-subsection"style="border:white; border-width:2px; border-style:solid;">MICROBIOLOGY-SKILLS</h1>
                    <li class="paragraph-text center-align">
                    <p>  •	Quality control
                    <p>  •	MLT
                    <p>  •	Environmental monitoring
                    <p>  •	Water testing
                    <p>  •	Standard operating procedure
                    <p>  •	Bioburden
                    <p>  •	Culture handling
                    </li>        
                    </p>
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>